<div class="pf pufi-footer" id="pufi-footer">
  <div class="pf-container">
    <div class="pf-row pf-row_contact">
      <div class="pf-col pf-col_brand">
        <a href="#" class="pf-col_brand--link">
          <img src="./media/logo/pufi-logo.png" alt="Pufi Logo" title="Home" class="img img-fluid">
        </a>
      </div>
      <div class="pf-col pf-col_products">
        <ul>
          <li>
            <a href="#">
              <span>pufi rain</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>pufi puff</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>pufi cart</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>pufi nap</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="pf-col pf-col_sitemap">
        <ul>
          <li>
            <a href="#">
              <span>contacto</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>ayuda</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>cómo comprar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>términos y condiciones</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="pf-col pf-col_safe">
        <h4>compra 100% segura</h4>
        <div class="pf-col_item">
          <img src="./media/img/logo-qr.png" alt="QR" title="Escanear codigo" class="img img-fluid">
          <img src="./media/img/logo-secure.png" alt="secure" title="Compra Segura" class="img img-fluid">
          <p><i>compra con<br>la garantia<br>de pufi</i></p>
        </div>
      </div>
      <div class="pf-col pf-col_socialMedia">
        <strong>seguinos en</strong>
        <ul>
          <li>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pf-row pf-row_terms">
      <div class="pf-col">
        <p>PUFI Copyright 2017 - Todos los derechos reservados</p>
      </div>
      <div class="pf-col">
        <img src="./media/logo/brandlife-logo.png" alt="Brandlive Logo" title="Brandlive" class="img img-fluid">
      </div>
    </div>
  </div>
</div>