<div class="phm pufi-header_mobile" id="pufi-header_mobile">
  <div class="phm-container">
    <div class="phm-row">
      <div class="phm-brand">
        <a href="#">
          <img src="./media/logo/pufi-logo.png" alt="Pufi Logo" title="Home">
        </a>
      </div>
      <div class="phm-hamburguer">
        <button type="button" role="button" id="open-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>

<aside class="phm pufi-sidebar_mobile" id="pufi-sidebar_mobile">
  <div class="phm-container">
    <div class="phm-sidebar_header">
      <button type="button" role="button" id="close-menu">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="phm-sidebar_body">
      <ul>
        <li>
          <a href="#">
            <span>pufi&nbsp;&nbsp;&nbsp;puff</span>
            <i class="far fa-check-square"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>pufi&nbsp;&nbsp;&nbsp;rain</span>
            <i class="far fa-clipboard"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>pufi&nbsp;&nbsp;&nbsp;cart</span>
            <i class="far fa-comment"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>pufi&nbsp;&nbsp;&nbsp;nap</span>
            <i class="far fa-clock"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="phm-sidebar_footer">
      <ul>
        <li>
          <a href="#">
            <span>Mi cuenta</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Mi compra</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>