.slick {
  &-arrow {
    opacity: 0;
    display: none !important;
    visibility: hidden;
  }
  &-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      margin: 0 1rem 0 0;
      &.slick-active {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          border: 1px solid $white;
          top: -4px;
          left: -3.5px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }
    button {
      @extend %reset-button;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      color: transparent;
      background-color: $white;
    }
  }
}