<section id="pufi-section-3" class="ps pufi-section">
  <div class="ps-container">
    <div class="ps-row">
      <div class="ps-box ps-box_btn">
        <img src="/media/img/PufiCart.jpg" alt="#" class="img img-fluid">
      </div>
      <div class="ps-box ps-box_content">
        <div class="ps-box_desc">
          <div class="ps-box_header">
            <div class="ps-box_header--icon">
              <img src="/media/img/PufiCartIcono.jpg" alt="" class="img img-fluid">
            </div>
            <div class="ps-box_header--title">
              <h2>Pufi CART</h2>
            </div>
          </div>
          <div class="ps-box_body">
            <p>Descripción del producto. Este es un texto simulado</p>
          </div>
          <div class="ps-box_footer">
            <a href="#">
              <i class="fas fa-chevron-right"></i>
              <span>Ver mas</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>