// Root
:root {
  --pufi-dark-color: #000;
  --pufi-light-color: #fff;
}

// Colors
$white: var(--pufi-light-color);
$black: var(--pufi-dark-color);

// Breakpoints
$breakpoints: (

  "phone-xs":   320px,    
  "phone-sm":   375px,  
  "phone-md":   420px,
  "phone-lg":   520px,
  "phone-xl":   640px,
  "phone-xxl":  813px,

  "tablet-sm":  768px,
  "tablet-md":  1024px,
  "tablet-lg":  1224px,

  "desk-sm":    1140px,
  "desk-md":    1280px,
  "desk-lg":    1440px, 
  "desk-xxl":   1680px,

);
