// Root
:root {
  --pufi-dark-color: #000;
  --pufi-light-color: #fff;
  --pufi-gray-color: #5c5c5c;
  --pufi-danger-color: #e4002b;
  --pufi-success-color: #84bd00;
}

// Colors
$white:     var(--pufi-light-color)       !default;
$black:     var(--pufi-dark-color)        !default;
$gray:      var(--pufi-gray-color)        !default;
$danger:    var(--pufi-danger-color)      !default;
$success:   var(--pufi-success-color)     !default;

// Breakpoints
$breakpoints: (

  "phone-xs":   320px,    
  "phone-sm":   375px,  
  "phone-md":   420px,
  "phone-lg":   520px,
  "phone-xl":   640px,
  "phone-xxl":  813px,

  "tablet-sm":  768px,
  "tablet-md":  850px,
  "tablet-lg":  1050px,

  "desk-sm":    1140px,
  "desk-md":    1280px,
  "desk-lg":    1440px, 
  "desk-xxl":   1680px,

);
