// Root
:root {
  --pufi-dark-color: #000;
  --pufi-light-color: #fff;
  --pufi-gray-color: #5c5c5c;
}

// Colors
$white:   var(--pufi-light-color)   !default;
$black:   var(--pufi-dark-color)    !default;
$gray:    var(--pufi-gray-color)    !default;

// Breakpoints
$breakpoints: (

  "phone-xs":   320px,    
  "phone-sm":   375px,  
  "phone-md":   420px,
  "phone-lg":   520px,
  "phone-xl":   640px,
  "phone-xxl":  813px,

  "tablet-sm":  768px,
  "tablet-md":  1024px,
  "tablet-lg":  1224px,

  "desk-sm":    1140px,
  "desk-md":    1280px,
  "desk-lg":    1440px, 
  "desk-xxl":   1680px,

);
