// Main Header
header {
  z-index: 10;
  position: relative;
}

// Header menu desktop
.pufi {
  &-header { 
    @include mq(tablet-md, max) {
      display: none;
    }
    display: block; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
	  padding: 0 0 0 2rem;
    transition: ease .5s all;
    &.active {
      background-color: $white;
      .pufi-container { 
        padding: 1rem 0; 
        align-items: center;
      }
      .pufi-brand a img {
        filter: brightness(0);
        margin-top: 0rem;
        margin-bottom: .5rem;
      }
      .pufi-menu ul li {
        &::before { border-color: $black;}
        a > i, svg, span {
          color: $black;
          fill: $black;
        }
      }
      .pufi-acount_item button {
        span, i, svg { color: $black; }
        &:first-child::before {
          border-color: $black;
        }
      }
    }
  }
  &-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 0 auto;
    transition: ease .3s all;
  }
  &-brand {
    width: auto;
    margin-top: 1rem;
    a img { transition: ease .3s all; }
  }
  &-menu {
    ul {
      display: flex;
      justify-self: center;
      align-items: center;
      list-style: none;
      margin-top: 1rem;
      li {
        position: relative;
        margin: 0 .5rem;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: -.5rem;
          border-right: 1px solid rgba(#fff, .5);
        }
        &:last-child::before {
          display: none;
        }
        a {
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          opacity: .75;
          transition: ease .3s all;
          font-weight: bold;
          i, svg, span { color: $white; }
          svg, i {
            font-size: 2rem;
          }
          span {
            margin: .5rem 0;
            text-transform: uppercase;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  &-acount {
    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        @extend %reset-button;
        padding: 1rem;
        margin: .5rem .5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        span {
          font-size: .75em;
          letter-spacing: 1px;
        }
        span, svg, i { color: $white; }
        svg, i {
          margin: 0 1rem;
        }
        &:first-child {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1px;
            height: calc(100% - 25px);
            margin: auto 0;
            border-left: .015rem solid $white;
            transition: ease .3s all;
          }
        }
      }
    }
  }
}

// Header menu mobile
.phm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-color: $white;
  display: none;
  @include mq(tablet-md, max) {
    display: block !important;
  }
  &-container {
    width: 100%;
    padding: 1rem;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-hamburguer {
    button {
      background-color: transparent;
      border: none;
      span {
        width: 25px;
        height: 2px;
        background-color: $black;
        display: block;
        color: $black;
        margin: 5px 0;
      }
    }
  }
}

// Header menu sidebar
aside {
  margin-left: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: ease .5s all;
  &.active {
    margin-left: 0;
  }
  .phm {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
      width: 100%;
      height: 100%;
    }
    &-sidebar {
      &_header {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2rem;
        margin-right: 2rem;
        button {
          @extend %reset-button;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          i, svg {
            font-size: 1.5rem;
          }
        }
      }
      &_body,
      &_footer {
        ul {
          list-style: none;
          li {
            a {
              width: 100%;
              min-width: 150px;
              height: 100%;
              min-height: 50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              text-decoration: none;
              text-align: left;
              span {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                color: $black;
              }
              i, svg {
                color: $black;
              }
            }
          }
        }
      }
      &_body {
        padding-bottom: 2rem;
      }
      &_footer {
        padding-top: 2rem;
        border-top: 1px solid rgba(#000, .25);
      }
    }
  }
}